<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: head(pageTitle='Databáze')}"></head>

<body class="d-flex flex-column min-vh-100">

<header th:replace="~{fragments/layout.html :: header}"></header>
<!-- Success Message -->
<div th:if="${successMessage}" class="alert alert-success p-0 text-center mb-1 rounded-0" role="alert">
    <span th:utext="${successMessage}"></span>
</div>

<div class="container mt-3">
    <!-- Search and Add User Button -->
    <div class="d-flex align-items-center mt-2 mb-1">
        <a id="novyUzivatel" class="btn btn-primary" th:href="@{createUzivatel}">Přidat 👨🏼‍⚕️</a>

        <!-- Form with responsive input field -->
        <form th:action="@{/index}" method="get" class="d-flex ms-3 btn-group" role="group" aria-label="Basic example">
            <!-- Use Bootstrap's grid system to limit input size on larger screens -->
            <div class="input-group">
                <input id="hledej" name="hledej" type="text" placeholder="Hledej" class="form-control"
                       style="max-width: 300px;">
                <button type="submit" class="btn btn-sm btn-light">🔍</button>
                <a th:href="@{index}" class="btn btn-sm btn-light px-2 py-2">Reset</a>
            </div>
        </form>
    </div>

    <!-- Zobrazení počtu záznamů v tabulce -->
    <div class="text-end ms-auto me-0 my-0">
        <small th:if="${uzivatelePage != null && !uzivatelePage.isEmpty()}" class="pocet-zaznamu text-light d-inline-block my-0 px-2">
            Záznamů celkem: <strong><span th:text="${uzivatelePage.totalElements}" class="fs-5"></span></strong>
        </small>

        <small th:if="${uzivatelePage == null || uzivatelePage.isEmpty()}" class="pocet-zaznamu text-light d-inline-block my-0 px-2">
            Žádné záznamy nebyly nalezeny!
        </small>
    </div>

    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered mb-1 mt-2">
            <thead>
            <tr>
                <th class="bg-dark-subtle text-nowrap">ID
                    <a th:href="@{|/index?page=${currentPage}&sort=id,asc|}"
                       th:classappend="${sort} == 'id,asc' ? 'active-sort' : ''">⬇️</a>
                    <a th:href="@{|/index?page=${currentPage}&sort=id,desc|}"
                       th:classappend="${sort} == 'id,desc' ? 'active-sort' : ''">⬆️</a>
                </th>
                <th class="bg-dark-subtle text-nowrap">Jméno
                    <a th:href="@{|/index?page=${currentPage}&sort=jmeno,asc|}"
                       th:classappend="${sort} == 'jmeno,asc' ? 'active-sort' : ''">⬇️</a>
                    <a th:href="@{|/index?page=${currentPage}&sort=jmeno,desc|}"
                       th:classappend="${sort} == 'jmeno,desc' ? 'active-sort' : ''">⬆️</a>
                </th>
                <th class="bg-dark-subtle text-nowrap">Příjmení
                    <a th:href="@{|/index?page=${currentPage}&sort=prijmeni,asc|}"
                       th:classappend="${sort} == 'prijmeni,asc' ? 'active-sort' : ''">⬇️</a>
                    <a th:href="@{|/index?page=${currentPage}&sort=prijmeni,desc|}"
                       th:classappend="${sort} == 'prijmeni,desc' ? 'active-sort' : ''">⬆️</a>
                </th>
                <th class="bg-dark-subtle text-nowrap">📪 E-mail</th>
                <th class="bg-dark-subtle text-center text-nowrap">📞 Telefon</th>
                <th class="bg-dark-subtle text-center text-nowrap">Vytvořen
                    <a th:href="@{|/index?page=${currentPage}&sort=vytvoren,asc|}"
                       th:classappend="${sort} == 'vytvoren,asc' ? 'active-sort' : ''">⬇️</a>
                    <a th:href="@{|/index?page=${currentPage}&sort=vytvoren,desc|}"
                       th:classappend="${sort} == 'vytvoren,desc' ? 'active-sort' : ''">⬆️</a>
                </th>
                <th class="bg-dark-subtle text-center text-nowrap">🔧 Akce</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${uzivatelePage != null && !uzivatelePage.isEmpty()}" th:each="uzivatel : ${uzivatelePage.content}">
                <td th:text="${uzivatel.id}" class="text-center"></td>
                <td th:text="${uzivatel.jmeno}"></td>
                <td th:text="${uzivatel.prijmeni}"></td>
                <td th:text="${uzivatel.email}"></td>
                <td th:text="${uzivatel.telefon}" class="text-center"></td>
                <td th:text="${uzivatel.vytvoren != null ? uzivatel.vytvoren.format(T(java.time.format.DateTimeFormatter).ofPattern('dd.MM.yyyy')) : ''}"
                    class="text-center"></td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/updateUzivatel/{id}(id=${uzivatel.id})}"
                           class="btn btn-sm btn-success p-1 me-1">upravit</a>
                        <form th:action="@{/deleteUzivatel/{id}(id=${uzivatel.id})}" method="post"
                              onsubmit="return confirm('Opravdu chcete tento záznam smazat?');">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <button type="submit" class="btn btn-sm btn-danger p-1">odstranit</button>
                        </form>
                    </div>
                </td>
            </tr>
            <tr th:if="${uzivatelePage == null || uzivatelePage.isEmpty()}">
                <td colspan="7" class="text-center">Žádní uživatelé nebyli nalezeni.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="pagination badge">
        <a th:href="@{|/index?page=${currentPage - 1}&sort=${sort}|}" th:if="${uzivatelePage != null && uzivatelePage.hasPrevious()}"
           class="text-light me-1 text-decoration-none">◀︎</a>
        <small style="font-weight: normal;">Stránka [[${currentPage + 1}]] z [[${uzivatelePage != null ? uzivatelePage.totalPages : 1}]]</small>
        <a th:href="@{|/index?page=${currentPage + 1}&sort=${sort}|}" th:if="${uzivatelePage != null && uzivatelePage.hasNext()}"
           class="text-light ms-1 text-decoration-none">▶︎</a>
    </div>
</div>

<!-- Description Section -->
<div class="popis-div container col-11 col-md-8 bg-info-subtle rounded-3 mt-3">
    <p class="popis m-2 fs-6 px-2">POPIS: Tato aplikace je komplexní webový systém pro správu a evidenci uživatelů,
        vyvinutý za
        účelem usnadnění správy dat. Umožňuje uživatelům přidávat, upravovat, mazat a vyhledávat záznamy v databázi.
        Aplikace je navržena tak, aby byla intuitivní a uživatelsky přívětivá, s moderním rozhraním, které umožňuje
        efektivní a rychlou práci s daty.
    </p>
</div>
<div class="mx-2">
    <p class="text-light text-center mt-1">
        <small>(Všechny kontakty jsou vymyšlené, pouze pro vývoj a testování webové aplikace)</small>
    </p>
</div>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

<script th:replace="~{fragments/layout.html :: helpText}"></script>
</body>
</html>
